---
const {
  title,
  img,
  desc,
  url,
} = Astro.props;
import { Image } from "@astrojs/image/components";
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <a href={url}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            aspectRatio="16:9"
            width={350}
            format="webp"
            src={img}
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full p-5 md:p-0">
        <h1 class="text-xl font-bold">
          {title}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
      </div>
    </div>
  </a>
</div>
